<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/email')
  </head>
  <body>
    <div class="mail">
      <img src="https://i.ibb.co/Qvs67Gd/facebook.png" alt="Facebook" class="logo" />

      <p>Bem-vindo a APIRest - de Uma Bela Rede Social - (bem completa, por sinal) @famoso Clone do Facebook</p>

      <p>para mais informções, acesse meu GitHub da API</p>
      
      <a href="https://github.com/ericalmeidasp/facebook-api" target="_blank" class="button">Clique Aqui</a>

      <p>Ou, conheça meus projetos:</p>
      <a href="https://github.com/ericalmeidasp/facebook-api" target="_blank" class="button">https://github.com/ericalmeidasp</a>

    </div>
  </body>
</html>