<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/email')
  </head>
  <body>
    <div class="mail">
      <p>Bem-vindo</p>

      <p>para mais informações, acesse o GitHub da API</p>
      
      <a href="https://github.com/ericalmeidasp/facebook-api" target="_blank" class="button">Clique Aqui</a>

      <p>Ou, conheça meus projetos:</p>

      <a href="https://github.com/ericalmeidasp" target="_blank" class="button">https://github.com/ericalmeidasp</a>

    </div>
  </body>
</html>